<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="border: 1px solid #dcdcdc; color: #676767; width: 600px; margin: 0 auto; padding-bottom: 50px; position: relative">
      <div style="height: 60px; background: #393d49; line-height: 60px; color: #58a36f; font-size: 18px; padding-left: 10px">Imooc社区——欢迎来到官方社区</div>
      <div style="padding: 25px">
        <div>你好开发者，{{sendInfo.user}}！《慕课网前端全栈实践》注册码:</div>
        <div style="color: #009e94; font-size: 20px; font-weight: bold; padding: 8px 0">{{ sendInfo.code }}</div>
        <div style="padding: 5px; background: #f2f2f2">如果该邮件不是由你本人操作，请勿进行激活！否则你的邮箱将会被他人绑定。</div>
      </div>
      <div style="background: #fafafa; color: #b4b4b4; text-align: center; line-height: 45px; height: 45px; position: absolute; left: 0; bottom: 0; width: 100%">
        系统邮件，请勿直接回复
      </div>
    </div>
  </body>
</html>
